.bold {
	font-weight: bold;
}

.star {
	color: red;
}

.strike {
	text-decoration: line-through;
}

.titre h2 {
	background-color: salmon;
	text-align: center;
	font-family: pt_sansitalic;
}

.form-group {
	background-color:navajowhite;
}